.subhero {
  position: relative;
  margin-bottom: 36px;
  min-height: 240px;
  display: grid;
  place-items: center;
  color: #fff;
  text-align: center;
  padding: 40px 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.55)),
    url('/images/spb-subhero.jpg') center/cover no-repeat;
}
.subhero__overlay {
  position: absolute;
  inset: 0;
  //   background: rgba(0, 0, 0, 0.35);
}
.subhero__content {
  position: relative;
  z-index: 1;
}
.subhero__title {
  margin: 0;
  font-size: 32px;
  line-height: 1.2;
}
.subhero__subtitle {
  margin: 8px 0 0;
  font-size: 18px;
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .subhero__title {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
  }
  .subhero__subtitle {
    margin: 8px 0 0;
    font-size: 14px;
    opacity: 0.9;
  }
}
